.title, h1 {
    font-size: 45px;
    font-weight: 900;
    font-style: italic;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.error {
    border: 1px solid;
    display: flex;
	flex-direction: column;
    padding: 2.65em 2.65em 2.65em;
}